// imports
@use "../abstracts/abstracts" as *;

// toggle
.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  &__option {
    @include headingStyles;
    color: color(lightGrayishBlue);
    font-size: size(sm);
  }
}

// switch
.switch {
  position: relative;
  display: inline-block;
  width: 4.5rem;
  height: 2.55rem;
  transition: $mainTransition;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &__checkbox {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 2.55rem;
    background: linear-gradient(color(gradientOne), color(gradientTwo));
    -webkit-transition: $mainTransition;
    transition: $mainTransition;

    &:before {
      position: absolute;
      content: "";
      height: 1.95rem;
      width: 1.95rem;
      left: 0.3rem;
      bottom: 0.3rem;
      background-color: white;
      border-radius: 50%;
      -webkit-transition: $mainTransition;
      transition: $mainTransition;
    }
  }
}

.switch__checkbox:checked + .switch__toggle:before {
  -webkit-transform: translateX(1.95rem);
  -ms-transform: translateX(1.95rem);
  transform: translateX(1.95rem);
}

// card
.card {
  color: color(black);
  background-color: color(white);
  padding: 2rem;
  text-align: center;
  position: relative;
  z-index: 2;
  box-shadow: 0.1rem 0.4rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;

  &--primary {
    background: linear-gradient(color(gradientOne), color(gradientTwo));
    color: color(white);
    transform: scale(1.1);
    z-index: 5;

    .card__plan,
    .card__price,
    .card__item {
      color: color(veryLightGrayishBlue);
    }

    .card__item {
      border-top: 0.1rem solid color(veryLightGrayishBlue);
    }
  }

  &__plan {
    @include headingStyles;
    color: color(darkGrayishBlue);
    font-size: size(md);
    padding: 1rem;
  }

  &__price {
    @include headingStyles;
    color: color(darkGrayishBlue);
    font-size: size(xxl) + 2rem;
    padding: 2rem;
  }

  &__item {
    @include headingStyles;
    color: color(darkGrayishBlue);
    font-size: size(xs) - 0.2rem;
    border-top: 0.1rem solid color(lightGrayishBlue);
    padding: 2rem;
  }
}

// buttons
.btn {
  @include headingStyles;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 1.2rem 2rem;
  font-size: size(xxs);
  border-radius: 1rem;
  text-transform: uppercase;
  transition: $mainTransition;

  &--primary {
    background: color(veryLightGrayishBlue);
    color: color(gradientTwo);
    border: 0.1rem solid color(veryLightGrayishBlue);

    &:hover,
    &:focus {
      background: transparent;
      color: color(veryLightGrayishBlue);
    }
  }

  &--secondary {
    background: linear-gradient(
      to right,
      color(gradientOne),
      color(gradientTwo)
    );
    color: color(white);
    border: 0.1rem solid color(gradientOne);

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}
