// imports
@use "../abstracts/abstracts" as *;

// bg patterns
.bg-pattern {
  position: absolute;
}

.bg-pattern--top {
  top: 0;
  right: 0;
  width: 30%;
}

.bg-pattern--bottom {
  bottom: -10%;
  left: 0;
  width: 30%;
}

// header
.header {
  &__title {
    @include headingStyles;
    text-align: center;
    font-size: size(xxl) + 1rem;
    color: color(grayishBlue);
    margin-bottom: 2rem;
  }
}
