// imports
@use "../abstracts/abstracts" as *;

// bg patterns
.bg-pattern {
  position: absolute;
}

.bg-pattern--top {
  top: 0;
  right: 0;
  width: 30%;

  @media (max-width: 600px) {
    width: 50%;
  }
}

.bg-pattern--bottom {
  bottom: -10%;
  left: 0;
  width: 30%;

  @media (max-width: 600px) {
    width: 50%;
  }
}

// header
.header {
  @include sectionSpacing;
  position: relative;
  z-index: 5;

  &__title {
    @include headingStyles;
    text-align: center;
    font-size: size(xxl) + 1rem;
    color: color(grayishBlue);
    margin-bottom: 2rem;
  }
}

// cards
.cards {
  @include sectionSpacing;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  @media (max-width: 850px) {
    grid-template-columns: 1fr;
    gap: 5rem;
  }
}

// tag
.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 2rem 2rem 1rem 2rem;
  margin-top: 5rem;
  position: relative;
  z-index: 5;

  &__heading {
    font-size: size(xs);
    color: color(black);
  }

  &__link {
    color: color(gradientOne);
    outline: 0;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__logo {
    width: 5rem;
  }
}
